@use "bootstrap";

td{
    padding: .3rem 1rem;
}
th{
    padding: .3rem 1rem;
    background-color: rgb(247, 203, 123);
}


.tablex{
    background-color: rgb(250, 223, 173);
    border-radius: 20px;
    padding: 1rem;
}

main{
    background-color: green;
}